/venv/*
**/*.pdf
**/.DS_Store
**/*.png
.DS_Store
**/hand_written/*
2489/ACI_Group 189_Assignment2.docx
resume/*
2825/Dice_Game_using_Dynamic_Programming_Saurabh.ipynb
2825/aashank_notebook.ipynb
2823/housing_data.csv
2823/MLSO_Assignment_PS2.docx
2824/facial_expression_recognition/dataset/*
**/kaggle.json
2824/images/*
**/private/*
2907/dataset/*
local_notes/*