/venv/*
**/*.pdf
**/.DS_Store
**/*.png
.DS_Store
**/hand_written/*
2489/ACI_Group 189_Assignment2.docx
resume/*
2825/Dice_Game_using_Dynamic_Programming_Saurabh.ipynb
2825/aashank_notebook.ipynb
2823/housing_data.csv
2823/MLSO_Assignment_PS2.docx
2824/facial_expression_recognition/dataset/*
**/kaggle.json
2824/images/*
**/private/*
2907/dataset/*
local_notes/*
**/yolov*
**/coco.names
**/sample2.mp4
**/VA_2023AA05663_A2_*.ipynb
**/mot17/*
2907/mot17/MOT17.zip
**/__pycache__/*
2903/assignment_03/tennis_player_dataset/*
2903/assignment_02/sample.mp4
2907/output/
2907/fasterrcnn_checkpoint.pth
2907/MOT17Det.zip
2903/assignment_03/perf/*
2909/assignment_2_doc.docx
*.pt
**/cifar-10-batches-py/*
*.tar.gz
2901/gan_assignment/sample_new/submissions_assignment2/task*.zip
2903/assignment_03/output.zip
2907/checkpoints/temp_db-20250309T044435Z-001.zip
*.pth